.container {
  text-align:center;
}

/*.player1 {
  display: none;
}*/

.player2 {
  display: none;
}

.result {
  display: none;
}
.game {
  width:200%;
  margin-left:30%;
  margin-right:70%;
  margin-top:10%;
}
.space{
  height: 100px;
  width: 100px;
  border: 2px solid black;
}
.thirteen, .twentythree, .thirtythree {
  border-top: none;
}

.thirtythree, .thirtytwo, .thirtyone {
  border-right: none;
}

.eleven, .twentyone, .thirtyone {
  border-bottom: none;
}

.eleven, .twelve, .thirteen {
  border-left: none;
}
